{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        ;; optional but recommended
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        ;; NICK: add support for resolving Javascript promises:
        jamesmacaulay/cljs-promises {:mvn/version "0.1.0"}
        ;; Other useful stuff:
        binaryage/oops {:mvn/version "0.6.4"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}}}
